.box {
	background-color: #bbb;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin: 5px;
	font-size: 30px;
	color: #fff;
}

.small {
	width: 50px; !important;
	height: 50px; !important;
}

.row {
	clear: both;
}

.num0 {
	background-color: #eee !important;
}

.num1 {
	background-color: #fcc !important;
}

.num2 {
	background-color: #ccf !important;
}